@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--secondary-color);
  font-family: "Inter", Helvetica, sans-serif;
}

/* Text */
h1 {
  font: var(--h1-font);
  color: var(--h1-color);
}

h2 {
  font: var(--h2-font);
  color: var(--h2-color);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}