:root {
  --primary-color: #2a3d45;
  --secondary-color: #ddc9b4;
  --tertiary-color: #bcac9b;

  /* text */
  --h1-color: #bcac9b;
  --h1-font: 80px "Goblin One", serif;

  --h2-color: #ddc9b4;
  --h2-font: 60px "Manrope", serif;
}
